:root {
  --void: #07020e;
  --blue-black: #2c3e50;
  --fuschia: rgb(43, 22, 68);
  --purple: #1c1425;
  --blue: #4717f6;
  --font-color: #fff;
}

html {
  background-color: var(--void);
  color: var(--font-color);
}

a,
a:visited {
  color: var(--font-color);
}

p {
  line-height: 1.3;
}

header {
  display: flex;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid var(--void);
  padding: 5px;
}

header h1 {
  width: 70%;
  margin: auto 0.5%;
  font-size: 2.4rem;
}

header nav {
  width: 100%;
  margin: auto;
}

header nav ul {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  height: 100%;
  font-size: 1.3rem;
  padding: 0 2%;
}

header nav ul li a {
  text-decoration: none;
}

.hero {
  height: 12rem;
  background-image: url('/assets/images/hero.jpg');
  opacity: 0.6;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 2rem;
  position: relative;
  top: 40%;
  left: 0.5%;
  opacity: 1;
}

.section {
  display: flex;
  align-items: center;
  margin: auto 0.5%;
  height: 250px;
}

.section h2 {
  font-size: 2rem;
  display: block;
  width: 12%;
  align-self: stretch;
}

.picture-container {
  width: 5%;
}

.picture-container img {
  display: inline-block;
  height: 200px;
}

#about-me p {
  display: inline-block;
  width: 74%;
  padding-left: 0.5%;
}

#portfolio {
  height: auto;
  justify-content: space-between;
}

.card {
  flex: 1 1 0;
  position: relative;
  padding: 10px;
  width: 20%;
  border: 3px solid var(--blue-black);
  padding: 0;
  margin: 5px;
}

.card header {
  display: inline;
  position: absolute;
  top: 2%;
  left: 2%;
  width: auto;
  height: auto;
  border: 3px solid var(--fuschia);
  background-color: var(--purple);
  font-size: 1.2rem;
}

.card img {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

pre {
  line-height: 1.5;
}

.underline {
  text-decoration: underline;
}
